.div-trai{
		position: fixed;
		margin: 0px;
		border: 0px;
		left: 0px;
		width: 15%;
		height: 100%;
		background-color: skyblue;
		top: 0px;
	}
	.div-phai{
		position: absolute;
		right: 20px;
		height: 100%;
		width: 85%;
		right: 0px;
		top: 0px;
		font-family: "Nunito Sans",monospace;
	}
	.goc-trai{
		margin: 0px;
		border: 0px;
		padding: 1em 1em 2em 1em;
	}
	ul{
		padding: 0;
	}
	li{
		padding-bottom: 1em;
		padding-left: 0.3em;
		list-style-type: none;
		font-size: 1.5em;
		font-family: monospace;
		font-weight: bold;
		margin: 10px 5px 10px 0px;
		

	}
	body {
		height: 500px;
	}
	a{
		text-decoration: none;
		color: whitesmoke;
	}
	.logout{
		padding: 2em 0.5em 1em 0em;
		margin: 0;
		color: black;
		font-weight: bold;
		right: 0px;
		border: 0;
		outline: 0;	
		font-size: 20px;
	}
	.div-tren{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: whitesmoke;
	}
	.mini-tab{
		font-size: 15px;
		padding-left: 10px;
	}
	.trai-div-tren{	
		left: 0px;
	 	display: inline-flex;
	 	color:black;
	  	font-weight:bold;
	   	font-size: 25px;
	    padding-left: 1em;
	 	padding-top: 1.5em;
	 }
